*/html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
}

h1,h2,h3,h4,h5,h6{
  font-size:100%;
  font-weight:normal;
}

ul{
  list-style:none;
}

button,input,select,textarea{
  margin:0;
}

html{
  box-sizing:border-box;
}

*,*::before,*::after{
  box-sizing:inherit;
}

img,video{
  height:auto;
  max-width:100%;
}

iframe{
  border:0;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

td,th{
  padding:0;
}

td:not([align]),th:not([align]){
  text-align:left;
}

/**Navigation Bar**/

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #fff;
  border-bottom: none;
}

.nav-bar {
  position: relative;
  border-bottom: 1px solid #e2e2e2;
}

.nav-section {
  margin: 0 auto;
  max-width: 1605px;
  background: transparent;
  border-bottom: 0;
  padding: 4px 15px 2px;
}

.fa-bars, .fa-search {
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  font-size: 0.9rem;
  line-height: 11px;
  font-weight: 500;
  margin: 8px 9px 9px;
}

.sp-cos-text {
  text-decoration: none;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  text-align: center;
}

.search-bar {
  display: flex;
  justify-content: space-around;
  left: 10px;
  position: absolute;
}

.NYT-Logo {
  width: 195px;
  height: 26px;
  margin: 6px auto 0;
}

.logo-container {
  text-align: center;
  padding-top: 0;
}

.space-cosmos {
  display: block;
  position: absolute;
  left: 105px;
  line-height: 19px;
  top: 10px;
}

.subscribe-container {
  top: 4px;
  right: 10px;
  display: flex;
  position: absolute;
  justify-content: space-around;
}

.subscribe-button, .login-button {
  border-radius: 3px;
  cursor: pointer;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 11px 12px 8px;
}

.subscribe-link, .login-link {
  display: inline-block;
  margin-right: 7px;
}

/**Header**/

header {
  margin-top: 45px;
  display: block;
}

.space {
  margin-top: 1.875rem;
  margin-bottom: 5.625rem;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#title {
  position: relative;
  width: 600px;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #121212;
  font-weight: 700;
  font-style: italic;
}

.main-photo-container {
  position: relative;
  opacity: 1;
}

.photo-group {
  width: 945px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin: 43px auto;
}

.photo {
  cursor: pointer;
  width: 100%;
  vertical-align: top;
  height: auto;
}

.photo-caption {
  margin-left: 0;
  width: 720px;
  color: #666;
  margin-top: 10px;
  text-align: left;
}

.photo-description {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin: 0px 7px 0px 0px;
  color: #666;
}

.photo-credits {
  font-size: 0.75rem;
  display: inline;
  color: #888;
  line-height: 1.125rem;
  letter-spacing: 0.01em;
}

.author-and-social-bar {
  margin-bottom: 1.5625rem;
  color: #121212;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.author-name {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  display: inline-block;
  letter-spacing: 0.02em;
  margin: 0;
  font-weight: 700;
  color: #333;
}

.name-link {
  display: inline;
  text-decoration: none;
  color: #333;
}

.date-and-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  flex-wrap: nowrap;
}

.publish-date {
  flex-shrink: 1;
  padding-right: 1rem;
}

.date {
  display: inline-block;
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}

.social-media-icons {
  display: inline;
  flex-shrink: 0;
}

.icons-list {
  display: flex;
  color: #999;
  flex-shrink: 0;
  font-size: 17px;
  margin-bottom: 5px;
  padding: 0;
}

.icon {
  color: #999;
  display: inline;
  margin-right: 16px;
  padding: 10px 0;
}

.fb-button, .twitter-button, .mail-button, .more-share-button, .bookmark-button, .comments-button {
  display: inline-block;
  vertical-align: middle;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 0;
  width: 25px;
  height: 25px;
}

.fa-facebook, .fa-twitter, .fa-envelope-square, .fa-share, .fa-bookmark, .fa-comment-alt {
  font-size: 1.2rem;
}

.comments-number {
  margin: 0;
  position: absolute;
  top: 923px;
  font-size: 0.55rem;
  right: 232px;
}